@charset "UTF-8";
/* Font */
/* 평창평화체 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 프리텐다드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* Noto Sans (en) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* Heading Font Size */
h1 {
  font-size: 40px;
  font-family: "PyeongChangPeace-Bold";
}

h2 {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-family: "Pretendard-Regular";
}

span {
  font-size: 12px;
  font-family: "Pretendard-Regular";
}

/* color */
/* text-color */
/* Mixin */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  width: 24.5rem;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  width: inherit;
  height: inherit;
}

.signin {
  position: relative;
}
.signin .signin_inner {
  background: url("/Team_img/login_01.jpg") no-repeat center;
  background-size: cover;
  width: inherit;
  height: inherit;
}
.signin .signin_inner .signin_title {
  color: #FFFFFF;
  padding: 150px 50px;
}
.signin .signin_inner .signin_title h1 {
  font-size: 60px;
}
.signin .signin_inner .easy_signin {
  width: inherit;
  margin: 0 auto;
  margin-top: 100px;
}
.signin .signin_inner .easy_signin .social_btn {
  display: flex;
  justify-content: space-evenly;
}
.signin .signin_inner .easy_signin .email_signup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.signin .signin_inner .easy_signin .email_signup button {
  border: none;
  padding: 7px 50px;
  border-radius: 30px;
  background-color: #F5F5F5;
  font-size: 16px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
}
.signin .signin_inner .easy_signin .without_login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}
.signin .signin_inner .easy_signin .without_login a {
  color: #FFFFFF;
  text-decoration: underline;
  font-family: "Pretendard-Regular";
}

.main {
  width: 100%;
  height: 1080px;
  position: relative;
  /* main_suggestion_slides */
}
.main .main_header {
  width: inherit;
  padding: 0;
  height: 75px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main .main_header .custom-check input[type=checkbox] + em::before {
  content: "\f26b";
  font-family: bootstrap-icons;
  font-style: normal;
  color: var(--light-gray);
  transform: translateY(-3px);
  display: inline-block;
}
.main .main_header h2 {
  font-family: "PyeongChangPeace-Bold";
  font-size: 36px;
  background-color: #fff;
  text-align: left;
  padding: 10px 0;
  padding-left: 10px;
}
.main .main_header h3 {
  margin-top: 5px;
  padding-left: 10px;
}
.main .main_header h3 span {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  transform: translateY(-1px);
}
.main .main_lnb {
  margin-top: 20px;
}
.main .main_lnb .filter_search {
  margin: 0px;
}
.main .main_lnb .filter_search .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-self: center;
  margin-right: 5%;
}
.main .main_lnb .filter_search .filter select {
  font-family: "Pretendard-Regular";
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #FFFFFF;
  width: 30%;
  padding: 0.5em;
  cursor: pointer;
  outline: none;
}
.main .main_lnb .filter_search .filter #person_filter {
  width: 30%;
}
.main .main_lnb .filter_search a {
  padding-right: 5%;
  cursor: pointer;
}
.main .main_lnb .filter_search a i {
  font-size: 18px;
}
.main .main_map .map_img {
  width: inherit;
  height: inherit;
  position: relative;
}
.main .main_map .map_img img {
  width: 24rem;
  transform: translateX(-10px);
  transform: translateY(-5px);
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main_map .map_img > button {
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
.main .main_map .map_img > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main .main_map .map_img > button > a {
  display: block;
  z-index: 99;
  width: inherit;
  height: inherit;
}
.main .main_map .map_img #Jongro {
  top: 30px;
  left: 145px;
  width: 40px;
  height: 50px;
  transform: rotate(10deg);
}
.main .main_map .map_img #Gangbuk {
  top: 20px;
  left: 255px;
  width: 42px;
  height: 50px;
  transform: rotate(-10deg);
}
.main .main_map .map_img #Nowon {
  top: 10px;
  left: 305px;
  width: 40px;
  height: 70px;
  transform: rotate(-10deg);
}
.main .main_map .map_img #Eunpyeong {
  top: 10px;
  left: 97px;
  width: 40px;
  height: 65px;
  transform: rotate(12deg);
}
.main .main_map .map_img #Gwanghwamun {
  top: 92px;
  left: 140px;
  width: 70px;
  height: 40px;
  transform: rotate(10deg);
}
.main .main_map .map_img #Daehakro {
  top: 10px;
  left: 195px;
  width: 45px;
  height: 40px;
}
.main .main_map .map_img #Hongdae {
  top: 130px;
  left: 90px;
  width: 55px;
  height: 35px;
  transform: rotate(10deg);
}
.main .main_map .map_img #Sinchon {
  top: 80px;
  left: 70px;
  width: 60px;
  height: 40px;
  transform: rotate(10deg);
}
.main .main_map .map_img #Junggu {
  top: 100px;
  left: 218px;
  width: 35px;
  height: 77px;
}
.main .main_map .map_img #Sangsu {
  top: 170px;
  left: 75px;
  width: 63px;
  height: 33px;
  transform: rotate(10deg);
}
.main .main_map .map_img #Myeongdong {
  top: 138px;
  left: 150px;
  width: 40px;
  height: 40px;
}
.main .main_map .map_img #Jungnang {
  top: 85px;
  left: 315px;
  width: 40px;
  height: 60px;
  transform: rotate(-9deg);
}
.main .main_map .map_img #Dongdaemun {
  top: 80px;
  left: 255px;
  width: 50px;
  height: 45px;
  transform: rotate(-7deg);
}
.main .main_map .map_img #Kondae {
  top: 130px;
  left: 263px;
  width: 50px;
  height: 40px;
  transform: rotate(-10deg);
}
.main .main_map .map_img #Mapo {
  top: 120px;
  left: 30px;
  width: 50px;
  height: 47px;
  transform: rotate(14deg);
}
.main .main_map .map_img #Yongsan {
  top: 183px;
  left: 145px;
  width: 52px;
  height: 38px;
}
.main .main_map .map_img #Itaewon {
  top: 187px;
  left: 205px;
  width: 55px;
  height: 30px;
  transform: rotate(-20deg);
  border-radius: 30px;
}
.main .main_map .map_img #Samcheongdong {
  top: 60px;
  left: 190px;
  width: 50px;
  height: 33px;
  transform: rotate(5deg);
}
.main .main_map .map_img #Gangseo {
  top: 193px;
  left: 17px;
  width: 45px;
  height: 60px;
}
.main .main_map .map_img #Dongjag {
  top: 250px;
  left: 120px;
  width: 48px;
  height: 50px;
  transform: rotate(15deg);
}
.main .main_map .map_img #Garosugil {
  top: 245px;
  left: 210px;
  width: 55px;
  height: 35px;
  transform: rotate(-20deg);
}
.main .main_map .map_img #Gangdong {
  top: 170px;
  left: 310px;
  width: 55px;
  height: 40px;
}
.main .main_map .map_img #Yeongdeungpo {
  top: 227px;
  left: 67px;
  width: 52px;
  height: 45px;
  transform: rotate(30deg);
}
.main .main_map .map_img #Seocho {
  top: 263px;
  left: 173px;
  width: 35px;
  height: 68px;
}
.main .main_map .map_img #Gangnam_station {
  top: 285px;
  left: 215px;
  width: 60px;
  height: 35px;
  transform: rotate(-20deg);
}
.main .main_map .map_img #Songpa {
  top: 210px;
  left: 320px;
  width: 35px;
  height: 60px;
  transform: rotate(-27deg);
  border-radius: 10px 40px 10px 10px;
}
.main .main_map .map_img #Guro {
  top: 260px;
  left: 30px;
  width: 57px;
  height: 45px;
  border-radius: 10px 80px 10px 10px;
}
.main .main_map .map_img #Gwanag {
  top: 302px;
  left: 90px;
  width: 70px;
  height: 40px;
  border-radius: 10px 30px 10px 10px;
}
.main .main_map .map_img #Gangnamgu {
  top: 226px;
  left: 273px;
  width: 43px;
  height: 68px;
  transform: rotate(-20deg);
}
.main .suggestion {
  width: 100%;
  height: 270px;
}
.main .suggestion .suggestion_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
}
.main .suggestion .suggestion_title h3 {
  margin-right: 10px;
}
.main .suggestion .suggestion_title a {
  cursor: pointer;
}
.main .suggestion .suggestion_title a i {
  font-size: 1em;
}
.main .suggestion .suggestion_slider_container {
  width: 390px;
  overflow: hidden;
  padding: 10px;
}
.main .suggestion .suggestion_slider_container .suggestion_slider {
  width: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main .suggestion .suggestion_slider_container .suggestion_slider .suggestion_content {
  position: relative;
}
.main .suggestion .suggestion_slider_container .suggestion_slider .suggestion_content img {
  width: 140px;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .suggestion .suggestion_slider_container .suggestion_slider .suggestion_content span {
  position: absolute;
  bottom: 19px;
  left: 11px;
  color: #FFFFFF;
  font-size: 14px;
}
.main .community {
  width: 100%;
  height: 270px;
  margin-top: 0.5em;
}
.main .community .community_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 10px;
}
.main .community .community_title h3 {
  margin-right: 0.67em;
}
.main .community .community_title a {
  cursor: pointer;
}
.main .community .community_title a i {
  font-size: 1em;
}
.main .community .community_slider_container {
  width: 450px;
  padding: 5px 10px;
  height: 230px;
  overflow-x: hidden;
}
.main .community .community_slider_container .community_slider {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.main .community .community_slider_container .community_slider .community_content {
  position: relative;
  display: flex;
  flex: 0 0 130px;
  height: 180px;
  border: 1px solid #4c3525;
  border-radius: 5px;
  align-items: center;
  padding: 0.5em;
}
.main .community .community_slider_container .community_slider .community_content #userImage {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.main .community .community_slider_container .community_slider .community_content #userImage img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.main .community .community_slider_container .community_slider .community_content .post_right {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .community .community_slider_container .community_slider .community_content .post_right #userName {
  margin-bottom: 12px;
  font-size: 14px;
}
.main .community .community_slider_container .community_slider .community_content .post_right #post_txt {
  cursor: pointer;
}

.recommendation_fullview {
  width: 100%;
  height: 100vh;
  position: relative;
}
.recommendation_fullview .rec_header .rec_title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  align-items: center;
}
.recommendation_fullview .rec_header .rec_search_field input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #F5F5F5;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: url("/Team_img/search.svg") no-repeat center left 15px;
  padding-left: 40px;
}
.recommendation_fullview .rec_section {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.recommendation_fullview .rec_section .rec_content {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
.recommendation_fullview .rec_section .rec_content img {
  width: 170px;
  height: 260px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommendation_fullview .rec_section .rec_content span.cafeList {
  position: absolute;
  bottom: 14px;
  left: 10px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}

.recommendation_detail {
  width: 100%;
}
.recommendation_detail .rec_detail_inner {
  height: 2500px;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_1 {
  display: flex;
  flex-direction: column;
  background: url("/Team_img/detail_item_thum_1.jpeg") no-repeat center/cover;
  width: 100%;
  height: 345px;
  color: #FFFFFF;
  justify-content: space-between;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_1 .rec_header_title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  align-items: center;
  letter-spacing: 1px;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_1 .rec_header_title i {
  color: #FFFFFF;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_1 #header_desc {
  margin: 10px;
  padding: 10px;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_1 #header_desc i {
  margin-left: 15px;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_2 {
  display: flex;
  flex-direction: column;
  background: url("/Team_img/detail_item_thum_2.jpeg") no-repeat center/cover;
  width: 100%;
  height: 345px;
  color: #FFFFFF;
  justify-content: space-between;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_2 .rec_header_title {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
  align-items: center;
  letter-spacing: 1px;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_2 .rec_header_title i {
  color: #FFFFFF;
}
.recommendation_detail .rec_detail_inner .rec_detail_header.thum_2 #header_desc {
  margin: 10px;
  padding: 10px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_location .detail_profile {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px 0;
  gap: 10px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_location .detail_profile .detail_profile_img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_location .detail_profile .detail_profile_txt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_location .detail_profile .detail_profile_txt #user_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content {
  border-bottom: 1px solid #999999;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_place .detail_placeInfo {
  padding: 10px;
  cursor: pointer;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_place .detail_placeInfo span {
  padding: 3px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_place .detail_place_badge_wrap .detail_badge {
  border: none;
  background: none;
  margin: 10px 10px 0 0;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_thum_slide {
  width: 380px;
  height: 165px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_thum_slide img {
  width: 120px;
  height: 160px;
  margin-right: 10px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_cafe_content .detail_desc {
  padding: 10px;
}
.recommendation_detail .rec_detail_inner .detail_section .detail_more {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
.recommendation_detail .rec_detail_inner .detail_share_modal {
  width: 320px;
  height: 230px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 35px;
  top: 200px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.recommendation_detail .rec_detail_inner .detail_share_modal #detail_modal_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 10px;
}
.recommendation_detail .rec_detail_inner .detail_share_modal #detail_modal_title #detail_modal_close {
  color: #ccc;
  float: right;
  cursor: pointer;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content #detail_sns_buttons_wrap {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 70px;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content #detail_sns_buttons_wrap .detail_sns_button {
  display: flex;
  flex-direction: column;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content #detail_sns_buttons_wrap .detail_sns_button button {
  background: none;
  border: none;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content #detail_sns_buttons_wrap .detail_sns_button > span {
  margin-top: 2px;
  font-size: 12px;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content .detail_copy {
  display: flex;
  width: inherit;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 0;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content .detail_copy #snsUrlInput {
  flex: 6;
  padding: 2px 0;
  padding-right: 20px;
  border: none;
  font-size: 12px;
}
.recommendation_detail .rec_detail_inner .detail_share_modal .detail_modal_content .detail_copy #detail_copy_button {
  padding: 8px 10px;
  background-color: #4c3525;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-right: 5px;
}

/* ### map html ### */
.main_map {
  position: relative;
}
.main_map .main_map_header {
  width: 390px;
  height: 76px;
  line-height: 76px;
  display: flex;
  border-bottom: 1px solid #999999;
  padding-left: 20px;
}
.main_map .main_map_header h2 {
  width: 130px;
  text-align: left;
  color: #4c3525;
}
.main_map #map {
  width: 390px;
  height: 400px;
  border: 1px solid #ccc;
}
.main_map #angleUp {
  z-index: 99999;
  position: fixed;
  bottom: 84px;
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 0;
  font-size: 25px;
  background: none;
  border: none;
  border-top: 2px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  display: none;
}
.main_map #angleDown {
  width: inherit;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 0;
  font-size: 25px;
  background: none;
  border: none;
}
.main_map .main_map_inner {
  border-top: #555555;
  background-color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: 1;
  overflow: hidden;
  border-top: 2px solid #ccc;
}
.main_map .main_map_inner .map_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}
.main_map .main_map_inner .map_menu .map_badge .badge {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-family: "Pretendard-Regular";
  margin: 0 2px;
}
.main_map .main_map_inner .map_menu .map_badge #badge_popular {
  color: #BB9174;
}
.main_map .main_map_inner .map_menu .btn-clear {
  margin-top: 20px;
  margin-left: auto;
  padding: 0px 10px;
  background: none;
  border: none;
  cursor: pointer;
}
.main_map .main_map_inner .map_place_suggestion {
  margin: 20px 0;
}
.main_map .main_map_inner .map_place_suggestion .map_place {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main_map .main_map_inner .map_place_suggestion .map_place .map_place_info {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 5px;
}
.main_map .main_map_inner .map_place_suggestion .map_place .map_place_info h2 {
  cursor: pointer;
}
.main_map .main_map_inner .map_place_suggestion .map_place .map_add_info {
  display: flex;
  gap: 15px;
}
.main_map .main_map_inner .map_place_suggestion .map_place_thum {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}
.main_map .main_map_inner .map_place_suggestion .map_place_thum img {
  width: 130px;
  height: 173px;
  border-radius: 5px;
}
.main_map .main_map_inner .map_place_suggestion.more {
  display: none;
}
.main_map .main_map_inner #map_info_more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
}

.container.my_space {
  height: auto;
}
.container.my_space #mysave_map {
  margin-top: 8px;
  width: 700px;
  height: 260px;
  padding: 10px 10px;
}
.container.my_space #mysave_map .myspace_header {
  width: 390px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container.my_space #mysave_map .myspace_header span {
  margin-right: 20px;
}
.container.my_space #mysave_map #list_write {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.container.my_space #mysave_map #list_write .list_writeSlider {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.container.my_space #mysave_map #list_write .list_writeSlider .list_item {
  position: relative;
  box-sizing: border-box;
  padding: 8px;
  cursor: pointer;
  width: 160px;
  height: 180px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.container.my_space #mysave_map #list_write .list_writeSlider .list_item img {
  width: 160px;
  height: 180px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.container.my_space #mysave_map #list_write .list_writeSlider .list_item span.cafeList {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
}
.container.my_space #mysave_map #list_write .list_writeSlider .new_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  height: 180px;
}
.container.my_space #mysave_map #list_write .list_writeSlider .new_list span {
  margin-top: 10px;
}
.container.my_space .gap {
  height: 10px;
  background-color: #F5F5F5;
}
.container.my_space #mysave_space {
  width: 390px;
  height: 650px;
  padding: 10px;
}
.container.my_space #mysave_space .myspace_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 10px;
}
.container.my_space #mysave_space .myspace_header span {
  margin-right: 30px;
  font-size: 18px;
}
.container.my_space #mysave_space .myspace_header #space_edit {
  border: 1px solid #999999;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  font-family: "Pretendard-Regular";
}
.container.my_space #mysave_space .myspace_wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 4px;
  margin-bottom: 10px;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content img {
  width: 100%;
  height: 195px;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content .space_location {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 175px;
  left: 5px;
  gap: 5px;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content .space_location .space_icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: orangered;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content .space_location .space_icon > i {
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content .space_location p {
  font-size: 10px;
  color: #fff;
  font-weight: 700;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content span {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
}
.container.my_space #mysave_space .myspace_wrap .myspace_content button {
  z-index: 999;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 16px;
  background-color: #FFFFFF;
  padding: 5px;
  padding-bottom: 2px;
  border: none;
  color: crimson;
  box-shadow: 0 0 5px black;
  display: none;
}
.container.my_space #show_map {
  border: none;
  width: auto;
  border-radius: 20px;
  font-size: 13px;
  padding: 5px 10px;
  transform: translateX(55%);
  font-family: "Pretendard-Regular";
}

.my_list {
  width: 390px;
  height: 600px;
}
.my_list .my_list_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
}
.my_list .my_list_header h3 {
  position: absolute;
  left: 50px;
  transform: translateY(1px);
}
.my_list .my_list_header button {
  border: 1px solid #999999;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #fff;
  font-family: "Pretendard-Regular";
  transform: translateY(1px);
}
.my_list .my_list_wrap {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.my_list .my_list_wrap .list_item {
  display: flex;
  width: 390px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.my_list .my_list_wrap .list_item img {
  width: 170px;
  height: 170px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.my_list .my_list_wrap .list_item span.cafeList {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  padding: 3px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2;
}
.my_list .new_list {
  z-index: 1;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #4c3525;
  color: #fff;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Pretendard-Regular";
}

.new_list_content {
  width: 390px;
  height: 400px;
  border: 1px solid lightgray;
  border-radius: 30px 30px 0 0;
  box-shadow: 2px 2px 5px 5px;
  display: none;
}
.new_list_content .list_header {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.new_list_content .list_header button {
  margin-right: 5px;
  border: none;
  background: none;
}
.new_list_content .list_header button i {
  font-size: 18px;
}
.new_list_content .list_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.new_list_content .list_box input {
  width: 350px;
  height: 20px;
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #F5F5F5;
}
.new_list_content .list_box button {
  width: 350px;
  height: 30px;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: gainsboro;
  border-radius: 30px;
}

.gnb {
  border-top: 1px solid #999999;
  height: 85px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 390px;
  background-color: #FFFFFF;
  z-index: 1;
  padding-bottom: 20px;
}
.gnb a {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
  font-size: 12px;
}
.gnb a i {
  font-size: 24px;
  color: #4c3525;
  margin-bottom: 5px;
}

.my_map_api_header {
  width: inherit;
  height: 76px;
  line-height: 76px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EBDED5;
}

.btn_prev {
  width: 130px;
  text-align: left;
  padding-left: 20px;
}

.my_map_api_title h2 {
  width: 130px;
  text-align: center;
  color: #4c3525;
}

.my_map_api_title i {
  padding-right: 5px;
}

.map_wrap, .map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
  color: #000;
  text-decoration: none;
}

.map_wrap {
  position: relative;
  width: 100%;
  height: 370px;
}

#menu_wrap {
  position: absolute;
  top: 47.5px;
  left: 0;
  bottom: 0;
  width: 262px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 0 0 10px 10px;
  color: #fff;
}

.bg_white {
  background: #fff;
}

#menu_wrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #5F5F5F;
  margin: 3px 0;
}

#menu_wrap .option {
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 86px;
  left: 10px;
  padding: 10px 0;
  padding-left: 7px;
  padding-right: 18px;
  border-radius: 10px 10px 0 0;
}

#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap .option button {
  margin-left: -5px;
  padding: 6.3px 5px;
  border-radius: 0 10px 10px 0;
  background-color: #4285F4;
  color: #fff;
  border: none;
  font-family: "Pretendard-Regular";
  font-size: 12px;
}

#keyword {
  padding: 5px;
  margin-left: 5px;
}

#pagination a.on {
  color: #fff;
}
#pagination a {
  color: #999999;
}

#placesList li {
  list-style: none;
}

#placesList .item {
  position: relative;
  border-bottom: 1px solid #888;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
}

#placesList .item span {
  display: block;
  margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#placesList .item .info {
  padding: 10px 0 10px 55px;
}

#placesList .info .gray {
  color: #a3a3a3;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
  color: #009900;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {
  background-position: 0 -10px;
}

#placesList .item .marker_2 {
  background-position: 0 -56px;
}

#placesList .item .marker_3 {
  background-position: 0 -102px;
}

#placesList .item .marker_4 {
  background-position: 0 -148px;
}

#placesList .item .marker_5 {
  background-position: 0 -194px;
}

#placesList .item .marker_6 {
  background-position: 0 -240px;
}

#placesList .item .marker_7 {
  background-position: 0 -286px;
}

#placesList .item .marker_8 {
  background-position: 0 -332px;
}

#placesList .item .marker_9 {
  background-position: 0 -378px;
}

#placesList .item .marker_10 {
  background-position: 0 -423px;
}

#placesList .item .marker_11 {
  background-position: 0 -470px;
}

#placesList .item .marker_12 {
  background-position: 0 -516px;
}

#placesList .item .marker_13 {
  background-position: 0 -562px;
}

#placesList .item .marker_14 {
  background-position: 0 -608px;
}

#placesList .item .marker_15 {
  background-position: 0 -654px;
}

#pagination {
  margin: 10px auto;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin-right: 10px;
}

#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}/*# sourceMappingURL=style(gaeul).css.map */